.aider*
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/3.30.0/CMakeCCompiler.cmake
build/CMakeFiles/3.30.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.30.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.30.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.30.0/CMakeSystem.cmake
build/CMakeFiles/3.30.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.30.0/CompilerIdC/CMakeCCompilerId.o
build/CMakeFiles/3.30.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.30.0/CompilerIdCXX/CMakeCXXCompilerId.o
build/_deps/raylib-subbuild/cmake_install.cmake
build/_deps/raylib-subbuild/CMakeCache.txt
build/_deps/raylib-subbuild/CMakeLists.txt
build/_deps/raylib-subbuild/Makefile
build/_deps/raylib-subbuild/CMakeFiles/cmake.check_cache
build/_deps/raylib-subbuild/CMakeFiles/CMakeConfigureLog.yaml
build/_deps/raylib-subbuild/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/raylib-subbuild/CMakeFiles/CMakeRuleHashes.txt
build/_deps/raylib-subbuild/CMakeFiles/Makefile.cmake
build/_deps/raylib-subbuild/CMakeFiles/Makefile2
build/_deps/raylib-subbuild/CMakeFiles/progress.marks
build/_deps/raylib-subbuild/CMakeFiles/TargetDirectories.txt
build/_deps/raylib-subbuild/CMakeFiles/3.30.0/CMakeSystem.cmake
build/_deps/raylib-subbuild/CMakeFiles/Progress/4
build/_deps/raylib-subbuild/CMakeFiles/Progress/count.txt
build/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/build.make
build/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/cmake_clean.cmake
build/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/compiler_depend.make
build/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/compiler_depend.ts
build/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/DependInfo.cmake
build/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/Labels.json
build/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/Labels.txt
build/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/progress.make
build/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-gitinfo.txt
build/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-mkdir
build/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-patch-info.txt
build/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-update-info.txt
build/_deps/raylib-subbuild/raylib-populate-prefix/tmp/raylib-populate-cfgcmd.txt
build/_deps/raylib-subbuild/raylib-populate-prefix/tmp/raylib-populate-gitclone.cmake
build/_deps/raylib-subbuild/raylib-populate-prefix/tmp/raylib-populate-gitupdate.cmake
build/_deps/raylib-subbuild/raylib-populate-prefix/tmp/raylib-populate-mkdirs.cmake
build/cmake_install.cmake
build/CMakeCache.txt
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/LogicCircuitSimulator.dir/build.make
build/CMakeFiles/LogicCircuitSimulator.dir/cmake_clean.cmake
build/CMakeFiles/LogicCircuitSimulator.dir/compiler_depend.make
build/CMakeFiles/LogicCircuitSimulator.dir/compiler_depend.ts
build/CMakeFiles/LogicCircuitSimulator.dir/depend.make
build/CMakeFiles/LogicCircuitSimulator.dir/DependInfo.cmake
build/CMakeFiles/LogicCircuitSimulator.dir/flags.make
build/CMakeFiles/LogicCircuitSimulator.dir/link.txt
build/CMakeFiles/LogicCircuitSimulator.dir/progress.make
build/_deps/raylib-build/cmake_install.cmake
build/_deps/raylib-build/CTestTestfile.cmake
build/_deps/raylib-build/Makefile
build/_deps/raylib-build/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/raylib-build/CMakeFiles/progress.marks
build/_deps/raylib-build/raylib/cmake_install.cmake
build/_deps/raylib-build/raylib/CTestTestfile.cmake
build/_deps/raylib-build/raylib/Makefile
build/_deps/raylib-build/raylib/raylib-config-version.cmake
build/_deps/raylib-build/raylib/raylib.pc
build/_deps/raylib-build/raylib/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/raylib-build/raylib/CMakeFiles/progress.marks
build/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/build.make
build/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/cmake_clean_target.cmake
build/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/cmake_clean.cmake
build/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/compiler_depend.make
build/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/compiler_depend.ts
build/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/depend.make
build/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/DependInfo.cmake
build/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/flags.make
build/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/link.txt
build/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/progress.make
build/_deps/raylib-build/raylib/external/glfw/cmake_install.cmake
build/_deps/raylib-build/raylib/external/glfw/Makefile
build/_deps/raylib-build/raylib/external/glfw/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/raylib-build/raylib/external/glfw/CMakeFiles/progress.marks
build/_deps/raylib-build/raylib/external/glfw/src/cmake_install.cmake
build/_deps/raylib-build/raylib/external/glfw/src/glfw_config.h
build/_deps/raylib-build/raylib/external/glfw/src/glfw3.pc
build/_deps/raylib-build/raylib/external/glfw/src/glfw3Config.cmake
build/_deps/raylib-build/raylib/external/glfw/src/glfw3ConfigVersion.cmake
build/_deps/raylib-build/raylib/external/glfw/src/Makefile
build/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/progress.marks
build/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/build.make
build/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/cmake_clean_target.cmake
build/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/cmake_clean.cmake
build/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/compiler_depend.make
build/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/compiler_depend.ts
build/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/depend.make
build/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/DependInfo.cmake
build/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/flags.make
build/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/link.txt
build/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/progress.make
build/_deps/raylib-build/raylib/include/raylib.h
build/_deps/raylib-build/raylib/include/raymath.h
build/_deps/raylib-build/raylib/include/rlgl.h
build/_deps/raylib-subbuild/CMakeFiles/raylib-populate-complete
build/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-build
build/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-configure
build/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-done
build/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-download
build/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-gitclone-lastrun.txt
build/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-install
build/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-patch
build/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-test
